.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    li {
      padding: 1rem;
      list-style: none;
      display: flex;
      align-items: center;

      a {
        font-size: 2rem;
        text-decoration: none;
        color: #000;
      }
    }
  }

  .btn-group {
    display: flex;
    gap: 5rem;
  }
}
